{% extends "blog/base.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
            <div style="display:flex; flex-wrap: wrap; align-items: center;" class="article-metadata pb-2">
                <img class="rounded-circle article-img"src="{{ post.autore.profilo.image.url }}" alt="">
                <div style="display:flex; flex-direction: column; flex-wrap: wrap;">
                    <a class="mr-2" href="{% url 'user-post' post.autore.username %}">{{ post.autore }}</a>
                    <small class="text-muted">{{ post.data|date:"D d F, Y" }}</small>
                </div>
            </div>
            <div class="media-body">
                <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.titolo }}</a></h2>
                <p class="article-content">{{ post.contenuto }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}